html {
  font-family: "Verdana", Sans, serif;
}
/* Rules for all Links */
a:link {color: white; }
a:visited { color: white; }
a:hover {color: #A239CA;}
a{
  text-decoration: none;
}

/* Rule for github link only */
.github{
  text-decoration: underline;
}

/* Customize "CodeLikeRichie" text */
.beginEnd {
  color: #A239CA;
}


body {
  margin: 0;
  color: white;
  background-color: #0E0B16
}

header{
  background: #0E0B16;
  letter-spacing: -2px;
  color: white;
  padding: 5px;
}

header h1 {
  font-size: 35px;
  margin: 0;
  display: inline;  
}

/* navigation list */
nav ul {
  margin: 0;
  display: inline;
  padding:  0 0 0 20px;
}

/* navigation list links */
nav ul li{
  font-size: 25px;
  list-style-type: none;
  display: inline-block;
  padding: 5px 15px;  
}

