html {
  font-family: "Verdana", Sans, serif;
}

a:link {color: white; }
a:visited { color: white; }
a:hover {color: #A239CA;}

/* Tab location stays purple */
a.about_here, a.home_here, a.contact_here{
  color: #A239CA;
}

a{
  text-decoration: none;
}

/* github, reddit, subreddits hyper links in about me text */
.github, .reddit, .buildapcsales, .reddit_all, 
.buildapc{
  text-decoration: underline;
}

/* CodeLikeRichard page title color scheme */
.beginEnd {
  color: #A239CA;
}

/* Page title color schemes */
.about_title, h3, .quote{  
  padding: 10px;
  letter-spacing: 2px;
  margin: 0;
  background-color: #4717F6;
  font-size: 25px;  
}



/* All text on each page */
body {
  margin: 0;
  color: white;
  background-color: #0E0B16;
}

/* Navigation tabs */
header{
  background: #0E0B16;
  letter-spacing: -2px;
  color: white;
  padding: 5px;
}

/* Code Like Richard style */
header h1 {
  font-size: 35px;
  margin: 0;
  display: inline;  
}

/* navigation */
nav ul {
  margin: 0;
  display: inline;
  padding:  0 0 0 20px;
}

nav ul li{
  font-size: 25px;
  list-style-type: none;
  display: inline-block;
  padding: 5px 15px;  
}

