/* Body of Webpage */
body{
  background-color: #1C2833; /* color of webpage */
}

main{
	background-color: #196F3D;
  color: white;	
	padding: 30px;	  
}

div{
  background-color: #196F3D;
  color: white; 
  padding: 30px;    
}



/* Hyperlink */
a:link {color: white; }
a:visited { color: white; }
a:hover {color: red;}

/* Header 1 */
h1{
  font-family: "Verdana", Sans, serif;  
  letter-spacing: -2px;
  background-color: #AD1010;
  width: 500px;
  color: white;
  padding: 30px;
  text-align: center;
}

/* Header 2 */
h2, h3{
  font-family: "Verdana", Sans, serif;  
  letter-spacing: -2px;
  background-color: #AD1010;
  width: 500px;
  color: white;
  padding: 30px;
  text-align: center;
}

/* Footer */
footer{
	font-size: 16px;
  width: 100%;
  text-align: center;
}

/* Paragraph text */
p{ 
  color: white;
}

p1{ /* Interests Header */
  font-family: "Verdana", Sans, serif;  
  letter-spacing: -1px;
  font-size: 35px;
}
